.logo {
  position: relative;
  display: block;
  width: 89px;
  height: 32px;
}

.text {
  position: absolute;
  inset: 5.46% 0 0;
  width: 100%;
  height: auto;
}

.hand {
  position: absolute;
  top: 0;
  left: 50.2%;

  width: 13.65%;
  height: 52.09%;
}
