@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.switcher {
  display: flex;
  flex-shrink: 0;
  gap: 2px;
  align-items: center;

  padding: 2px;
  border: 1px solid $c-elements;
  border-radius: $radius-round;
}

.option {
  padding: 3px 8px;
  border-radius: $radius-round;
  color: $c-secondary;
  transition:
    color $transition,
    background-color $transition;

  @include text-small;

  &:hover {
    color: $c-primary;
  }
}

.option-active {
  color: $c-on-accent;
  background-color: $c-accent;

  &:hover {
    color: $c-on-accent;
  }
}
