// Colors from the UI Kit (Rounded Style 2)
$c-accent: #216cff;
$c-secondary-accent: #f447af;
$c-primary: #0f0f11;
$c-secondary: #89939a;
$c-icons: #b4bdc3;
$c-elements: #e2e6e9;
$c-hover-bg: #fafbfc;
$c-white: #fff;
$c-green: #27ae60;
$c-red: #eb5757;

// Breakpoints
$tablet-min: 640px;
$desktop-min: 1200px;

// Layout
$content-max-width: 1136px;
$header-height-mobile: 48px;
$header-height-desktop: 64px;

// Misc
$radius-small: 8px;
$radius-round: 48px;
$transition: 0.3s;
