@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.page {
  padding-block: 24px 56px;

  @include content-container;

  @include on-tablet {
    padding-block: 24px 64px;
  }

  @include on-desktop {
    padding-block: 24px 80px;
  }
}

.title {
  margin-top: 24px;

  @include h1;

  @include on-desktop {
    margin-top: 40px;
  }
}

.count {
  margin-top: 8px;
  color: $c-secondary;

  @include text-body;
}

.filters {
  display: flex;
  gap: 16px;
  margin-top: 32px;

  @include on-desktop {
    margin-top: 40px;
  }
}

.sort {
  flex: 1;

  @include on-tablet {
    flex: 0 0 176px;
  }
}

.per-page {
  flex: 1;

  @include on-tablet {
    flex: 0 0 128px;
  }
}

.list {
  margin-top: 24px;
}

.pagination {
  margin-top: 40px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  padding-block: 40px;

  @include h3;
}

.reload-button {
  height: 40px;
  padding-inline: 32px;
  border-radius: $radius-small;

  color: $c-white;

  background-color: $c-accent;

  @include text-buttons;
  @include hover(box-shadow, 0 3px 13px rgba(23, 32, 49, 0.4));
}
